name: BlueBuild

on:
  push:
    branches: [main]
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: blue-build/github-action@v1.10
        with:
          registry_token: ${{ github.token }}
          cosign_private_key: ${{ secrets.COSIGN_PRIVATE_KEY }}
          maximize_build_space: false
